
svg{
    color: black;
}

.firstCol{
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    
}

.uk-form{
    border: none !important;
}

.secondCol {
    background-color: white;
    border-top-right-radius: 25px;
}

td{
    height: 80px;
}

button{
    font-size: 13px  !important;
    color: black;
}

